._btn {
    background-color: #1E776E;
    width: 94px;
    height: 94px;
    border-radius: 47px;
}

._btn.next-btn {
    transform: rotate(180deg);
}

._navigation-buttons {
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
}