._container {
    background-color: #1E776E;
    height: 791px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

._copyright {
    background-color: #000000;
    opacity: 0.23;
    height: 119px;
    display: flex;
    align-items: center;
}

._copyright-text {
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

._footer-profile {
    color: white;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

._copyright-text-item {
    font-size: 18px;
}

._title {
    font-size: 42px;
}

._profile-item {
    text-align: center;
    margin-top: 40px;
}

._profile-item ._variable {
    font-weight: bold;
}

._profile-item ._value {
    margin-top: 15px;
    font-size: 20px;
    opacity: .7;
}

._profile-item ._value a {
    color: white;
}