._search-container {
    background-color: #2FC8B8;
    height: 70vh;
}

._logo {
    font-weight: 800;
    color: white;
    font-size: 35px;
    letter-spacing: 5px;
}

._button {
    background: #1E776E no-repeat padding-box;
    border-radius: 6px;
    font: normal normal bold 15px/19px Roboto;
    color: #FFFFFF;
    opacity: 1;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

._front-card {
    width: 80vw;
    box-shadow: 0 3px 16px #0000001F;
    height: 480px;
    margin: -260px auto 0;
    border-radius: 8px;
}

._front-card ._cumulative {
    background-color: #1E776E;
    height: 260px;
    border-radius: 8px 8px 0 0;
}

._details {
    height: calc(480px - 260px);
    background-color: red;
}